html
  head
    title Logout
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/base.css', rel='stylesheet')
  body
    div.main-container.container
      h4.text-center Logged out Succcesfully!
      